@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(227, 23%, 67%);
}

:root {
  --very-dark-Theme1-main-background: hsl(222, 26%, 31%);
  --very-dark-Theme1-keypad-background: hsl(223, 31%, 20%);
  --very-dark-Theme1-screen-background: hsl(224, 36%, 15%);
  --dark-blue-Theme1-key-background: hsl(225, 21%, 49%);
  --dark-blue-Theme1-key-shadow: hsl(224, 28%, 35%);
  --red-key-Theme1-background-toggle: hsl(6, 63%, 50%);
  --dark-red-Theme1-key-shadow: hsl(6, 70%, 34%);
  --light-grayish-orange-Theme1-key-background: hsl(30, 25%, 89%);
  --grayish-orange-Theme1-key-shadow: hsl(28, 16%, 65%);
  --very-dark-Theme1-grayish-blue: hsl(221, 14%, 31%);
  --white-Theme1: hsl(0, 0%, 100%);
  --Light-gray-Theme2-main-background: hsl(0, 0%, 90%);
  --very-light-Theme2-gray-screen-background: hsl(0, 0%, 93%);
  --dark-moderate-cyan-Theme2-key-background: hsl(185, 42%, 37%);
  --very-dark-cyan--Theme2-key-shadow: hsl(185, 58%, 25%);
  --orange-Theme2-key-background-toggle: hsl(25, 98%, 40%);
  --dark-orange-Theme2-key-shadow: hsl(25, 99%, 27%);
  --light-grayish-yellow-Theme2-key-background: hsl(45, 7%, 89%);
  --dark-grayish-orange-Theme2-key-shadow: hsl(35, 11%, 61%);
  --very-dark-grayish-yellow-Theme2-text: hsl(60, 10%, 19%);
  --white-text: hsl(0, 0%, 100%);
  --very-dark-violet-Theme3-main-background: hsl(268, 75%, 9%);

  --very-dark-violet-Theme3-toggle-keypad-and-screen-background: hsl(
    268,
    71%,
    12%
  );
  --dark-violet-Theme3-key-background: hsl(281, 89%, 26%);
  --vivid-magenta-Theme3-key-shadow: hsl(285, 91%, 52%);
  --pure-cyan-Theme3-key-toggle-background: hsl(176, 100%, 44%);
  --soft-cyan-Theme3-key-shadow: hsl(177, 92%, 70%);
  --very-dark-violet-Theme3-key-background: hsl(268, 47%, 21%);
  --dark-magenta-Theme3-key-shadow: hsl(290, 70%, 36%);
  --light-yellow-Theme3-text: hsl(52, 100%, 62%);
  --very-dark-blue-Theme3-text: hsl(198, 20%, 13%);
  --white-Theme3-text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-Theme1-main-background);
  display: flex;
  /* margin: 3rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh);
  font-family: "League Spartan", sans-serif;
}

/*Theme 1*/
body.theme1 {
  background-color: hsl(222, 26%, 31%);
}
.keypadAreaTheme1 {
  background-color: #d0cdce !important;
  color: var(--dark-blue-Theme1-key-background);
}

.displayAreaTheme1 {
  color: white !important;
}
.keyAreaTheme1 {
  border-bottom: 0.25rem solid #b2a195;
}
.keyAreaTheme1:hover {
  background-color: white;
  border: 0px;
}
.colorChangerAreaTheme1 {
  border-bottom: 0.25rem solid #414e71;
}

.equalAreaTheme1 {
  border-bottom: 0.25rem solid #8f2316;
}

/*Theme 2*/
body.theme2 {
  background-color: #e6e6e6;
}
.titleAreaTheme2 {
  color: black !important;
}
.toggleAreaTheme2 {
  background-color: #d0cdce !important;
}
.displayAreaTheme2 {
  background-color: white !important;
  color: black !important;
}
.keypadAreaTheme2 {
  background-color: #d0cdce !important;
  color: black !important;
}
.keyAreaTheme2 {
  border-bottom: 0.25rem solid #a79e90;
}
.colorChangerAreaTheme2 {
  background-color: #388187 !important;
  border-bottom: 0.25rem solid #1c6167;
}
.colorChangerAreaTheme2:hover {
  background-color: #62b5bd !important;
}
.equalAreaTheme2 {
  background-color: #c85401 !important;
  border-bottom: 0.25rem solid #863700;
}
.equalAreaTheme2:hover {
  background-color: #ff8b38 !important;
}
.attributionAreaTheme2 {
  color: black !important;
}

/*Theme 3*/
body.theme3 {
  background-color: hsl(268, 75%, 9%);
}
.titleAreaTheme3 {
  color: yellow !important;
}
.toggleAreaTheme3 {
  background-color: #1e0837 !important;
}
.ballAreaTheme3 {
  background-color: #00decf !important;
}
.displayAreaTheme3 {
  background-color: #1e0836 !important;
  color: white !important;
}
.keypadAreaTheme3 {
  background-color: #1e0837 !important;
  color: yellow !important;
}

.keyAreaTheme3 {
  background-color: #331b4d !important;
  border-bottom: 0.25rem solid #851c9c;
}
.keyAreaTheme:hover {
  background-color: #6b34ac !important;
}
.colorChangerAreaTheme3 {
  background-color: #56077c !important;
  border-bottom: 0.25rem solid #bf16f5;
}
.colorChangerAreaTheme3:hover {
  background-color: #56077c !important;
}
.equalAreaTheme3 {
  background-color: #00decf !important;
  border-bottom: 0.25rem solid #5efff5;
}

.main {
  display: grid;
  gap: 1rem;
  max-width: 600px;
  margin-bottom: 2rem;
}
.titleArea {
  display: flex;
  justify-content: space-between;
  align-items: end;
  align-items: center;
  font-size: large;
  color: white;
}

.display {
  background-color: var(--very-dark-Theme1-screen-background);
  color: white;
  display: flex;
  justify-content: end;
  padding: 1.5rem;
}

.toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-small;
}

.toggler p {
  font-size: 8px;
  letter-spacing: 1px;
}

.toggleArea {
  width: 3rem;
  height: 1.3rem;
  background-color: var(--very-dark-Theme1-keypad-background);
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

.toggledetail {
  /* display: flex;  */
  /* flex-direction: column; */

  margin-left: 1rem;
}

.themeNumbers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
  height: 100%;
}
.themeNumbers h6 {
  font-size: smaller;
  font-weight: 100 !important;
}

.firstBall {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.secondBall {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.thirdBall {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.mainBall {
  display: inline-flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--red-key-Theme1-background-toggle);

  /* margin: 5rem; */
}
.display {
  display: flex;
}

.keypad {
  background-color: var(--very-dark-Theme1-keypad-background);
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.key {
  background-color: var(--white-Theme3-text);
  /* padding: 0.7rem 1rem; */
  display: inline-flex;
  justify-content: center;
  padding: 10px 1rem;
  align-items: center;
  cursor: pointer;
}

.reset {
  grid-column: 1/3;
  background-color: var(--dark-blue-Theme1-key-background);
  color: white;
}

.key:hover {
  background-color: --;
}
.equal {
  grid-column: 3/5;
  background-color: var(--red-key-Theme1-background-toggle);
  color: white;
}
.equal:hover {
  background-color: hsl(6, 71%, 67%);
}
.delete {
  background-color: var(--dark-blue-Theme1-key-background);
  color: white;
}
.delete:hover,
.reset:hover {
  background-color: hsl(225, 21%, 49%);
}
div {
  border-radius: 0.3rem;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
